
        <table class="table custom-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Score One</th>
              <th>Score Two</th>
              <th>Team One</th>
              <th>Team Two</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let elt of matchesTab">
              <td>{{elt._id}}</td>
              <td>{{elt.scoreOne}}</td>
              <td>{{elt.scoreTwo}}</td>
              <td>{{elt.teamOne | asterix}}</td>
              <td>{{elt.teamTwo | reverse}}</td>
              <td>
                <button class="btn btn-success" (click)="goToDisplat(elt.id)">Display</button>
                <button class="btn btn-warning" (click)="edit(elt.id)">Edit</button>
                <button class="btn btn-danger">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
